<div class="container-fluid">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar por..." aria-label="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Pesquisar!</button>
              </span>
            </div>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table at-table at-config="config" at-list="eventos" at-paginated>
          <thead>

          </thead>
          <tbody>
            <tr>
              <td at-title="nomeEvento"  class="cardTable">
                <a ng-click="listaOficinas(item.key)"> {{item.nomeEvento}}</a>
                <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Deletar evento</button>
              </td>
            </tr>
          </tbody>
        </table>
        <at-pagination at-config="config" at-list="eventos"></at-pagination>

      </div>
      <div class="col-md-6">
        <br>
        <div class="row">
		<div class="col-md-6">
      <input id="textinput" name="textinput" type="text" placeholder="Pesquisar" class="form-control input-md">
		</div>
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-6">
          <a href="#" class="btn btn-block btn-default"><span class="glyphicon glyphicon-search"></span> Pesquisar</a>
				</div>
				<div class="col-md-6">
          <a href="#" class="btn btn-block btn-success"><span class="glyphicon glyphicon-plus"></span> Adicionar</a>
				</div>
			</div>
		</div>
	</div>
        <table at-table at-config="config" at-list="oficinasEventos" at-paginated>
          <thead>
            <tr>
              <th at-attribute="nomeOficina">Nome da Oficina</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td at-title="nomeOficina"  class="cardTable">
                  {{item.nomeOficina}}
              </td>
              <td>
                <button class="btn btn-sm btn-success" ng-click="carregaOficina(item)" data-toggle="modal" data-target="#modalEditarOficina"><span class="glyphicon glyphicon-pencil"></span> Editar oficina</button>
              </td>
              <td>
                <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Deletar Oficina</button>
              </td>

            </tr>
          </tbody>
        </table>
        <at-pagination at-config="config" at-list="oficinasEventos"></at-pagination>
      </div>
    </div>
  </div>
</div>
<div  ng-include="'pages/modal/eventoModal.html'"></div>
<div  ng-include="'pages/modal/oficinaModal.html'"></div>
