<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="jumbotron">
  <div class="container">
    <img src="images/logo.png" width="100" height="100" alt="">
    <h2>Blue Gestor</h2>
    <div class="box">
        <input type="text" ng-model="usuario.usuario" placeholder="Usuário">
	    <input type="password"  ng-model="usuario.senha"placeholder="Senha">
	    <button class="btn btn-default full-width" ng-click="loginButton(obj)"><span class="glyphicon glyphicon-ok glyphiconStyle"></span></button>
    </div>
  </div>
</div>
