<div class="container-fluid">
  <div class="card">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <label for="">Selecione o evento</label>
          <sc-select
          ng-model="eventoSelecionado"
          sc-options="evento.id as evento.nomeEvento for evento in listaDeEventos"
          placeholder="Select or search a evento in the list...">
        </sc-select>

      </div>
      <div class="col-md-6">
        <label for="">Selecione a(s) ofincina(s)</label>
        <sc-select
        ng-model="oficinaSelecionada"
        sc-options="oficina.id as oficina.nomeOficina for oficina in listaDeOficinas"
        placeholder="Select from this list...">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div ng-if="listaTable.length == 0">
          <h3>Não ha registros de visitantes</h3>
        </div>
        <div class="row" ng-show="listaTable.length != 0">
          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th>
                  Nome 
                </th>
                <th>
                  Endereço M.A.C
                </th>
                <th>
                  Hora de entrada
                </th>
                <th>
                  Hora de saida
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="pessoa in listaTable">
                <td>
                  {{pessoa.nomePessoa}}
                </td>
                <td>
                  {{pessoa.enderecoMAC}}
                </td>
                <td>
                  {{pessoa.horaEntrada}}
                </td>
                <td>
                  {{pessoa.horaSaida}}
                </td>
              </tr>
            </tbody>
          </table>
          

      </div>
    </div>

</div>
</div>
</div>
</div>
